<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/background/IMG_7182.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>15 Minute City</h1>
            <h3>Do you live in a 15 minute city?</h3>
            <br />


            <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
              <input type="text" class="form-control" placeholder="Enter Address">
              <br>
              <button type="button" class="btn btn-outline-neutral btn-round">Search your neighborhood</button>


            </div>
            <br />


        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What is a 15 Minute city?</h2>
                <h5 class="description">A 15 minute city is a wonderful place to be. If you live in a 15 minute city, you can get almost all your needs satisfied within a 15 minute walk from your house. Walking around is so much better than driving. This app seeks to show if your neighboorhood is a 15 minute city. It searches for grocery stores, transit, and parks within a 15 minute walk. </h5>
                <br>
                <a href="https://youtu.be/McGyONofhi4" class="btn btn-danger btn-round"><i class="fa fa-play"></i>Watch video</a>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-basket"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nearby stores</h4>
                        <p class="description">No good neighborhood is complete without a grocery store</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bus-front-12"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nearby transit</h4>
                        <p>Shows nearby transit stops</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-hat-3"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nearby schools</h4>
                        <p>A safe neighborhood is one where children can walk to school</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bank"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Nearby Parks</h4>
                        <p>Good Parks make good neighborhoods</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">About me</h2>
        <div class="row">


                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/IMG_0347.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Kurtis Reid</h4>
                                <h6 class="card-category">Software Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                          A software developer looking for a job in Boston, Ma, or wherever 15 minute cities are.
                        </p>
                        <br>

                        <p class="card-description text-center">
                          I have always loved walking around cities. They have always felt so lively and magical. When I was a teenager, I took a trip to Washington, D.C.

                          Coming from rural Ohio, I was shocked and amazed that I could get a footlong from Subway without needing to use a car.
                          <br>
                        </p>
                          <p class="card-description text-center">
                            Such a thing could not be done where I lived. To walk anywhere seemed seemed insane. In the city, grabing a Krispy Kream doughnut actually made sense.
                          </p>
                          <!--
                          <p class="card-description text-center">
                            When I moved to Quincy, Ma I still had no job, and didnt know where my future job would be, so I kept my car around. I soon started having a problem. Because everything was close enough to walk, I didnt need to drive. This caused a problem though. I discovered that cars need to be driven, otherwise they brake down. Movies had lead me to belive that you could put a tarp over your car and you could start it up whenever. This is not the case, though I wish it was.
                          </p>
                          <p class="card-description text-center">
                            As a result of this, I have had to replace my battery, and my boyfriend and I have agreed to use the car at least once every week or two.
                        </p>-->
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>


            <!--<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Kurtis Reid</h4>
                                <h6 class="card-category">Software Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                          A software developer looking for a job in Boston, Ma, or wherever 15 minute cities are.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
